{% extends "Forms/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block form %}
  
  <div class="container " style="font-family: 'Montserrat';padding:0px">
    <div id="tab-nav" class="">
        <div class="active" id="Tab1"><a onclick="openform(1)"><span  id="Span1" class="active">1</span> About Child  </a></div>
        <div class="" id="Tab2"><a onclick="openform(2)"><span  id="Span2">2</span> Contact Information </a></div>
        <div class="" id="Tab3"><a onclick="openform(3)"><span  id="Span3">3</span> Location Information </a></div>
        <div class="" id="Tab4"><a onclick="openform(4)"><span  id="Span4">4</span> Lesson Schedule </a></div>
    </div>
    <br>
    <form method="post">
        {% csrf_token %}
        <div id="form1">
            <div class="header">
                <h2>Tell us about your child's need</h2>
                <p>What's your goal and what subjects do your kids need help with?</p>
            </div>
            <div class="form">
                {{ Abform | crispy }}
            </div>
            <div class="submit">
                <a  class="submit_btn" onclick="fnext(1)"> Next </a>
            </div>
        </div>
        <div id="form2">
            <div class="header">
                <h2>Personal Information</h2>
                <p>This is used to contact you about your lessons</p>
            </div>
            <div class="form">
                {{ Guform | crispy }}
            </div>
            <div class="submit">
                <a  class="submit_btn"  onclick="fnext(2)"> Next </a>
            </div>
        </div>
        <div id="form3">
            <div class="header">
                <h2>Where do you stay?</h2>
                <p>This help us get the best tutors close to you</p>
            </div>
            <div class="form">
                {{ Loform | crispy }}
            </div>
            <div class="submit">
                <a  class="submit_btn"  onclick="fnext(3)"> Next </a>
            </div>
        </div>
        <div id="form4">
            <div class="header">
                <h2>Lesson Schedule</h2>
                <p>How long you need a tutor for and what time?</p>
            </div>
            <div class="form">
                {{ Leform | crispy }}
            </div>
            <div class="submit">
                <input type="submit" class="submit_btn" value="Submit">
            </div>
        </div>
    </form>
</div>
<script src="{% static 'JS/jquery-3.5.1.min.js' %}"></script>
<script>
    
    function openform(key){
        formtab = document.getElementById(`Tab${key}`);
        formfield = document.getElementById(`form${key}`);
        SpanTab = document.getElementById(`Span${key}`);
        tabs = document.querySelectorAll('#tab-nav > div');
        tabSpan = document.querySelectorAll('#tab-nav  span');
        forms = document.querySelectorAll('form > div');
        for (let i = 0; i < forms.length; i++) {
            if(forms[i].id == formfield.id ){
                forms[i].style.display = 'block';
            }else{
                forms[i].style.display = 'none';
            }
        }
        for (let i = 0; i < tabs.length; i++) {
            if(tabs[i].id <= formtab.id ){
                tabs[i].classList.add('active')
            }else{
                tabs[i].classList.remove('active')
            }
        }
        for (let i = 0; i < tabSpan.length; i++) {
            if(tabSpan[i].id <= SpanTab.id ){
                tabSpan[i].classList.add('active')
            }else{
                tabSpan[i].classList.remove('active')
            }
        }
    }
    function fnext(key){
        uo = key+1
        openform(uo)
    }
    openform(1)
</script>
{% endblock form %}