{% extends "Forms/base.html" %} {% block header %}
{% endblock header %} {% block main %}
<style>
    .thankyou{
        text-align: center;
        margin:2rem 2%;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
        padding:5% 10px;
    }
    .steps > div{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 2rem;
        justify-content: center;
    }
    
    .steps > div > div{
        max-width: 300px;
        text-align: left !important;
    }
    .steps > div > div > h4:first-child {
        border: 2px black solid;
        width: fit-content;
        padding:3px 10px;
        border-radius: 20px;
    }
    .thankyou > div > div:last-child > div{
        display: flex;
        gap: 3rem;
        justify-content: center;
        flex-wrap: wrap;
    }
</style>
<div class="container">
  <div class="thankyou">
    <div>
        <h2 style="font-size: xx-large;font-weight: 500;font-size: 2em;">Thank you {{guardian.full_name}} for placing a request!</h2>
        <div class="steps">
        <div style="text-align: left;justify-content: left;align-items: start;"><h2>What Next?</h2></div>
           <div>
            <div>
                <h4>1</h4>
                <h4>Call From Me</h4>
                <p>I'll review your request and give you a call to better understand your needs.</p>
            </div>
            <div>
                <h4>2</h4>
                <h4>Get a list of Tutors</h4>
                <p>I'll send ou options of tutors who are the best fit for your request.</p>
            </div>
            <div>
                <h4>3</h4>
                <h4>Pay and Begin Lessons</h4>
                <p>Once you pick the tutor who meets your standard, you can pay and begin lessons.</p>
            </div>
           </div>
        </div>
        <div>
            <h2>Have questions? Feel free to reach out to me</h2>
            <div>
                <div><i class="fa fa-mail"></i>info@edukom.ng </div>
                <div><i class="fa fa-phone"></i> +2348033310626 </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock main %}
